# Database
HMC_DB_URL=jdbc:postgresql://localhost:5432/hmc-db
HMC_DB_USER=hmc-user
HMC_DB_PASSWORD=hmc-password
HMC_DB_SCHEMA=app_data

# Report output directory
HMC_REPORT_OUTPUT_DIR=/hmc/reports

# Market data provider (eodhd | twelvedata)
HMC_MARKET_DATA_PROVIDER=eodhd

# EODHD API key (required if provider is eodhd)
EODHD_API_KEY=

# Twelve Data API key (required if provider is twelvedata)
TWELVE_DATA_API_KEY=
